@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #f1f1f1;
    color: #444;
}
.header{
    width: 100%;
}
.head_inner{
    width: 1000px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
.title{
    width: 200px;
    font-style: 25px;
    /* border: 1px solid red; */
    line-height: 1.5;
    text-align: center;
}
.nav{
    /* position: relative; */
}
.main{
    display: flex;
}
.main > li{
    position: relative;

}
.main > li > a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    /* border: 1px solid darkblue; */
    font-size: 17px;
}
.main > li:hover > a{
    color: dodgerblue;

}
.main > li:hover .sub{
    background-color: lightblue;

}
.sub{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: 250px;
    border-right: 1px dotted #ccc;
    display: none;
    z-index: 100;
    padding: 25px 5px 20px ;
}
.sub1{
    border-left: 1px dotted #ccc;

}
.sub li{}
.sub li a{
    display: block;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
.sub li a:hover{
    color: white;
}

.img_area{
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #f7f7f7;
    left: 0;
    top: 65px;
    /* display: none; */
}
.icons{
    width: 1000px;
    margin: 0 auto;
    padding-top: 35px;
    /* display: none; */

}
.icons li{}


